eventlet==0.28.0
pandas==1.0.1
imgaug==0.4.0
Flask_SQLAlchemy==2.4.4
numpy==1.18.1
Flask==1.1.1
Keras==2.4.3
matplotlib==3.3.3
opencv_python==4.4.0.44
python_socketio==4.6.1
Pillow==8.0.1
scikit_learn==0.24.0
